h1{
  color: white;
  font-size: 48px;
  padding: 20px 100px 0px 100px;
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: white;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

h4
{
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

#welcome_bar {
  background-color: #a1e2c8;

  display: flex;
  flex-direction: column;
}

#search_bar
{
  width: 99%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#search_button
{
  width: 100%;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #a1e2c8;
}

.bod {
  width: 100%;
  height: 100%;
}

.favorites_section {
  float:left;
  height: 100%;
  width: 35%;
  background: #5b967e;
  text-align: center;
}

.results_section{
  height: 80%;
  background: #5b967e;
  float: right;
  width: 65%;
  overflow: auto;
}


#single_book{
  background: #7bc4a7;
}
#title
{
  text-align: center;
  width: 50%;
  float: left;
  margin: 0;
  margin-left: 0;
}
#options
{
  text-align: center;
  width: 50%;
  height: 50%
}

#fav_text
{
  margin-bottom: 0;
}
#image
{
  float: left;
}

#loading
{
  float: right;
  padding-right: 50%;
}

#info
{
  float: left;
  width: 50%;
}

img {
  width:100%;
  height:100%;
}
